{% extends 'base/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<br>
<h2>Django Apps</h2>
<br>

<div class="w-100">
  <ul class="list-group">
    <li class="list-group-item">
      <h4><i class="fas fa-tasks"></i><a href="{% url 'todo:home' %}">To-Do List App</a></h4>
    </li>

    <li class="list-group-item">
      <h4><i class="fas fa-chart-line"></i><a href="{% url 'stockapp:home' %}"> API Based Stock Portfolio App</a></h4>
    </li>

    <li class="list-group-item">
      <h4><i class="fas fa-chart-line"></i><a href="{% url 'sfapp:home' %}"></a>Stack Overflow Advanced Search API App</h4>
    </li>
  </ul>
</div>
{% endblock %}
