{% extends 'base/base.html' %}

{% block title %}
Home
{% endblock %}

{% block content %}
<br>
<h2>Django Apps</h2>
<br>

<div class="w-100">
  <ul class="list-group">
    <li class="list-group-item">
      <h4><i class="fas fa-tasks"></i> <a href="{% url 'todo:home' %}">To-Do List</a></h4>
    </li>

    <li class="list-group-item">
      <h4><i class="fas fa-chart-line"></i> <a href="{% url 'stockapp:home' %}">API Based Stock Portfolio App</a></h4>
    </li>

    <li class="list-group-item">
      <h4><i class="fab fa-stack-overflow"></i> <a href="{% url 'sfapp:home' %}">Stack Overflow Advanced Search API App</a></h4>
    </li>

    <li class="list-group-item">
      <h4><i class="fas fa-seedling"></i> <a href="https://gkarthik-nursery.herokuapp.com">Nursery Store REST API App</a></h4>
    </li>

      <li class="list-group-item">
      <h4><i class="fas fa-seedling"></i> <a href="https://advisor-nw.herokuapp.com">Advisor Network REST API App</a></h4>
    </li>
  </ul>
</div>
{% endblock %}
