{% extends 'base/base.html' %}

{% block title %}
Home
{% endblock %}

{% block alert %}
    <!-- Login Request   -->
    <div class="container">
        {% if not user.is_authenticated %}
            <div class="alert alert-info" role="alert">
              Please login if you want to save your app data on browser restart
            </div>
        {% endif %}
    </div>
{% endblock %}

{% block content %}
<div class="text-center">
    <h1>Stack Overflow Advanced Search API Interface</h1>
</div>

<form method="post" action="{% url 'sfapp:home' %}">
    {% csrf_token %}
    <fieldset>
        <legend>Search</legend>
        <div class="row">
            <div class="form-group col-md-4">
              <label for="exact">Search...</label>
              <input type="text" class="form-control" id="exact" name="q" aria-describedby="exactHelpBlock">
                <small id="exactHelpBlock" class="form-text text-muted">free form search</small>
            </div>

            <div class="form-group col-md-4">
              <label for="title">Title</label>
              <input type="text" class="form-control" id="title" name="title" aria-describedby="titleHelpBlock">
                <small id="titleHelpBlock" class="form-text text-muted">
                    text which must appear in returned questions' titles
                </small>
            </div>

            <div class="form-group col-md-4">
              <label for="body">Body</label>
              <input type="text" class="form-control" id="body" name="body" aria-describedby="bodyHelpBlock">
                <small id="bodyHelpBlock" class="form-text text-muted">
                    text which must appear in returned questions' bodies
                </small>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Tags</legend>
        <div class="row">
            <div class="form-group col-md-6">
                <label for="tagged">Tagged</label>
                <input type="text" class="form-control" id="tagged" name="tagged" aria-describedby="taggedHelpBlock">
                <small id="taggedHelpBlock" class="form-text text-muted">
                    a semicolon delimited list of tags, of which at least one will be present on all returned questions
                </small>
            </div>

            <div class="form-group col-md-6">
                <label for="nottagged">Not Tagged</label>
                <input type="text" class="form-control" id="nottagged" name="nottagged" aria-describedby="nottaggedHelpBlock">
                <small id="nottaggedHelpBlock" class="form-text text-muted">
                    a semicolon delimited list of tags, none of which will be present on returned questions
                </small>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Answers</legend>
            <div class="row">
                <div class="form-group col-md-6">
                  <label for="answers">Minimum Answers</label>
                  <input type="number" class="form-control" id="answers" name="answers" aria-describedby="answersHelpBlock">
                    <small id="answersHelpBlock" class="form-text text-muted">
                        the minimum number of answers returned questions must have
                    </small>
                </div>

                <div class="form-group col-md-6">
                  <label for="accepted">Accepted</label>
                    <select id="accepted" class="form-control" name="accepted"
                            data-toggle="tooltip" data-placement="bottom" title="Only questions with accepted answers?">
                        <option selected value="">Choose</option>
                        <option value="true">True</option>
                        <option value="false">False</option>
                    </select>
                </div>
            </div>
    </fieldset>

    <fieldset>
        <legend>Status</legend>
        <div class="row">
            <div class="form-group col-md-3">
              <label for="closed">Closed</label>
                <select id="closed" class="form-control" name="closed"
                        data-toggle="tooltip" data-placement="bottom" title="Only closed questions?">
                    <option selected value="">Choose</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>

            <div class="form-group col-md-3">
              <label for="migrated">Migrated</label>
                <select id="migrated" class="form-control" name="migrated"
                        data-toggle="tooltip" data-placement="bottom" title="Only questions migrated away from a site?">
                    <option selected value="">Choose</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>

            <div class="form-group col-md-3">
              <label for="wiki">Wiki</label>
                <select id="wiki" class="form-control" name="wiki"
                        data-toggle="tooltip" data-placement="bottom" title="Only community questions?">
                    <option selected value="">Choose</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>

            <div class="form-group col-md-3">
              <label for="notice">Notice</label>
                <select id="notice" class="form-control" name="notice"
                        data-toggle="tooltip" data-placement="bottom" title="Only questions with post notices?">
                    <option selected value="">Choose</option>
                    <option value="true">True</option>
                    <option value="false">False</option>
                </select>
            </div>
        </div>
    </fieldset>

    <fieldset>
        <legend>Other</legend>
        <div class="row">
            <div class="form-group col-md-4">
              <label for="views">Views</label>
              <input type="number" class="form-control" id="views" name="views" aria-describedby="viewsHelpBlock">
                <small id="viewsHelpBlock" class="form-text text-muted">
                    the minimum number of views returned questions must have
                </small>
            </div>

            <div class="form-group col-md-4">
              <label for="user">User</label>
              <input type="number" class="form-control" id="user" name="user" aria-describedby="userHelpBlock">
                <small id="userHelpBlock" class="form-text text-muted">
                    the id of the user who must own the questions returned
                </small>
            </div>

            <div class="form-group col-md-4">
              <label for="url">Url</label>
              <input type="url" class="form-control" id="url" name="url" aria-describedby="urlHelpBlock">
                <small id="urlHelpBlock" class="form-text text-muted">
                    a url which must be contained in a post, may include a wildcard
                </small>
            </div>
        </div>
    </fieldset>

    <br>

    <div class="text-center">
        <button class="btn btn-secondary btn-lg" type="submit" >Search</button>
    </div>
    {% if content %}
        {{content}}
    {% endif %}

</form>

<br>

<ul class="nav justify-content-end">
  <li class="nav-item mr-2 mb-2">
    {% if previous_page %}
    <a href="{% url 'sfapp:page' page=previous_page %}">
        <button type="button" class="btn btn-secondary">Previous Page</button>
    </a>
    {% else %}
        <button type="button" class="btn btn-secondary" disabled>Previous Page</button>
    {% endif %}
  </li>

  <li class="nav-item ml-2 mb-2">
    {% if next_page %}
    <a href="{% url 'sfapp:page' page=next_page %}">
        <button type="button" class="btn btn-secondary">Next Page</button>
    </a>
    {% else %}
        <button type="button" class="btn btn-secondary" disabled>Next Page</button>
    {% endif %}
  </li>
</ul>

{% if search_data %}
    <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Tags</th>
                    <th scope="col">Score</th>
                    <th scope="col">Answer Count</th>
                    <th scope="col">View Count</th>
                    <th scope="col">Owner</th>
                </tr>
            </thead>
            <tbody>
            {% for question in search_data.items %}
                <tr>
                    <td><a href="{{ question.link }}">{{ question.title }}</a></td>
                    <td>
                        {% for tag in question.tags %}
                        {{ tag }},
                        {% endfor %}
                    </td>
                    <td>{{ question.score }}</td>
                    <td>{{ question.answer_count }}</td>
                    <td>{{ question.view_count }}</td>
                    <td>{{ question.owner.display_name }}</td>
                </tr>
            {% endfor %}
            </tbody>
    </table>
{% endif %}

<br>

<ul class="nav justify-content-end">
  <li class="nav-item mr-2">
    {% if previous_page %}
    <a href="{% url 'sfapp:page' page=previous_page %}">
        <button type="button" class="btn btn-secondary">Previous Page</button>
    </a>
    {% else %}
        <button type="button" class="btn btn-secondary" disabled>Previous Page</button>
    {% endif %}
  </li>

  <li class="nav-item ml-2">
    {% if next_page %}
    <a href="{% url 'sfapp:page' page=next_page %}">
        <button type="button" class="btn btn-secondary">Next Page</button>
    </a>
    {% else %}
        <button type="button" class="btn btn-secondary" disabled>Next Page</button>
    {% endif %}
  </li>
</ul>

<br> <br>

{% endblock %}
